#link{
    text-decoration: none;
    color: white;
}

#link:hover{
    text-decoration: underline;
}

#assuntos{
    text-decoration: none;
    color: white;
}

#assuntos:hover{
    text-decoration: underline;
}

#cor_p{
    background-color: #15202B;
}

#cor_s{
    background-color: #1D2A35;
}

#cor_t{
    background-color: #38444D;
}


#texto_claro{
    color: white;
}

.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}